$color-light-undefined: #DDDCDC;
$color-light-anger: #EEBDBD;
$color-light-happiness: #f2e9c4;
$color-light-sadness: #c4dde2;
$color-light-fear: #dacae1;
$color-light-disgusted: #CAE1BE;
$color-light-love: #e8c1d3;
//
$color-undefined: #C4C4C4;
$color-anger: #D48080;
$color-happiness: #ECD975;
$color-sadness: #80C5D4;
$color-fear: #A580D4;
$color-disgusted: #96D480;
$color-love: #D480A8;
//
$theme-light-purple: #d9d0e1;
$theme-medium-purple: #C0B9DD;
$theme-strong-purple: #80A1D4;
$theme-green-medium: #75C9C8;
$theme-green-strong: #519897;
$theme-white: #fafafa;
$theme-black: #2e2e2e;