$color-undefined: #DDDCDC;
$color-anger: #D48080;
$color-happiness: #ECD975;
$color-sadness: #80C5D4;
$color-fear: #A580D4;
$color-disgusted: #96D480;
$color-love: #D480A8;

$theme-light-purple: #DED9E2;
$theme-medium-purple: #C0B9DD;
$theme-strong-purple: #80A1D4;
$theme-green: #75C9C8;

$theme-white: #fafafa;
$theme-black: #2e2e2e;